<?xml version="1.0" encoding="utf-8"?>
<manifest package="co.uk.hackathon.mabel"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- PlacePicker requires the ACCESS_FINE_LOCATION permission and a geo API key.
       See this page for more information on how to obtain an API key:
       https://developers.google.com/places/documentation/android/start
       -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- PlacePicker also requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBElXNNn4cb4WGYl51zrE-IMstdVogu1xY"/>
        <activity
            android:name="co.uk.aging.mabel.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity
            android:name="co.uk.aging.mabel.places.placepicker.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
