<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.uk.hackathon.mabel" >

    <!--
       PlacePicker requires the ACCESS_FINE_LOCATION permission and a geo  key.
       See this page for more information on how to obtain an API key:
       https://developers.google.com/places/documentation/android/start
       -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- PlacePicker also requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyBElXNNn4cb4WGYl51zrE-IMstdVogu1xY"-->
        <!--/>-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="@string/google_maps_key" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBElXNNn4cb4WGYl51zrE-IMstdVogu1xY"/>
        <!--<activity-->
            <!--android:name="co.uk.aging.mabel.PlacesActivity"-->
            <!--android:label="Places">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name="co.uk.aging.mabel.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                 <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>


        <activity
            android:name="co.uk.aging.mabel.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="co.uk.aging.mabel.MapsActivity2"
            android:label="@string/title_activity_maps_activity2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="co.uk.aging.mabel.view.SubmissionActivity"
            android:label="@string/title_activity_post_activity" >
        </activity>

        <activity
            android:name="co.uk.aging.mabel.view.AnnotationView"
             >
        </activity>


        <activity
            android:name="co.uk.aging.mabel.places.placepicker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.uk.aging.mabel.SearchActivity"
            android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
            android:name="co.uk.aging.mabel.AddActivity"
            android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name="co.uk.aging.mabel.FrontPageActivity"
            android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name="co.uk.aging.mabel.places.SearchActivity"-->
            <!--android:label="Search">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="co.uk.aging.mabel.places.SinglePlaceActivity"
            android:label="singlePLace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            </intent-filter>
        </activity>

    </application>

</manifest>
